p {
   font-size: medium;
}

#loading_page {
    height:100%; 
    width:100%; 
    margin-top:200px;
}

#main_content {
    padding: 10px 10px;
}

#about {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    text-justify: inter-word;

}

#missing_data_text {
    text-align: center;
    color: red;

}


.main-header {
    max-height: 80px;
}

.main-header .logo {
    padding-top: 15px;
    height: 80px;
}

.left-side, .main-sidebar #sidebarItemExpanded {
    padding-top: 50px;
}

.sidebar-toggle {
    margin-top: 15px;
}